


.title {
    color: #02ccba;
    
  }
 

.content {
    color:brown;
    background-image: none;
    background-color: transparent;
  }
 
 p {
    font-size: 1.5em;
    color: #fe7f88;
    background-image: none;
    background-color: transparent;
  }
  
  head {
    background-image: url("mse.png");
  }
  
